<div style="width: 900px;" align="center">
<h1>FIGHT!</h1>
<p id="versus"> VS.</p>

<form method="post" action="/end_game" id="endGameForm">
<input type="hidden" id="player_one_id" name="player_one_id" value="<%= @player_one.id %>" />
<input type="hidden" id="player_two_id" name="player_two_id" value="<%= @player_two.id %>" />

<img id="game_player1_img" src="<%= @player_one.avatar %>" />
<p id="game_player1_text"><%=@player_one.name%></p>

<img id="game_player2_img" src="<%= @player_two.avatar %>" />
<p id="game_player2_text"><%=@player_two.name%></p>

<div id="finish" align="center">
<button type="button"  id="endGameButton">FINISH THEM!!</button>
<button id="goLeaderButton" type="button" class="Select-Buttons goLeaderButton">Back To LeaderBoard</button>
<p>Only enter scores for the games you played</p>
</div>

<div id="scorecard1">
<ul>
<li>Game 1</li>
<li><input type="text" id="player_one_score1" name="player_one_score1" /></li>
<li>Game 2</li>
<li><input type="text" id="player_one_score2" name="player_one_score2" /></li>
<li>Game 3</li>
<li><input type="text" id="player_one_score3" name="player_one_score3" /></li>
</ul>
</div>

<div id="scorecard2">
<ul>
<li>Game 1</li>
<li><input type="text" id="player_two_score1" name="player_two_score1"/></li>
<li>Game 2</li>
<li><input type="text" id="player_two_score2" name="player_two_score2"/></li>
<li>Game 3</li>
<li><input type="text" id="player_two_score3" name="player_two_score3"/></li>
</ul>
</div>


</form>
</div>
