<div align="center">
<h1>Table Tennis Kombat</h1>
<h2>Leader Board</h2> 

<table style=" width: 900px; ">
  <tr>
    <th></th>
    <th>Name</th>
<th></th>
    <th>W-L</th>
    <th>Total games</th>
  </tr>
<%alt = -1%>
<% @players.sort { |player1, player2| player2.cumulative_wins <=> player1.cumulative_wins}.each do |player| %>
  <tr class="leaderboard-player<%=alt%>" id="player-<%=player.id%>">

    <td class="leader-img"><img src="<%= player.avatar %>" alt="<%= player.name %> avatar" /></td>
    <td class="leader-name"><%= player.name%></td>
	 <td class="spacer"></td>
    <td class="leader-wins"><%= player.cumulative_wins %>-<%=player.total_games - player.cumulative_wins%></td>
    <td class="leader-games"><%= player.total_games %></td> 

</tr>
<% alt *= -1%>
<% end %>
</table>

<br />

<div width="250"
<span style="align: right;">
<button type="button" id="newplayerbutton">New Player</button>
<button type="button" id="newgamebutton">New Game - Select PLayers</button>
</span>
</div>

</div>
