<div align="center">
<h1>Table Tennis Kombat</h1>
<h2>Leader Board</h2> 

<table style=" width: 900px; ">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>W-L</th>
    <th>Total games</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr class="leaderboard-player" id="player-<%=player.id%>">

    <td class="leader-img"><img width="128" height="128" src="<%= player.avatar %>" alt="<%= player.name %> avatar" /></td>
    <td class="leader-name"><%= player.name%></td>
    <td class="leader-wins"><%= player.cumulative_wins %>-<%=player.total_games-player.cumulative_wins%></td>
    <td class="leader-games"><%= player.total_games %></td> 

</tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path, :id=>"newPlayerButton" %>

</div>
