<div align="center">
<h1>Table Tennis Kombat</h1>
<h2>Select Players</h2> 

<div id = "playerOneSelect">
<img id = "playerOneSelectImg" src="">
<p id = "playerOneSelectText">Select Player One<br><br><br>Click Here then Select Player</p> 
</div>

<div id = "playerTwoSelect">
<img id = "playerTwoSelectImg" src="" > 
<p id = "playerTwoSelectText"> Select Player Two<br><br><br>Click Here then Select Player</p> 
</div>

<div style="width: 900px">
<table id="choosePlayers">
<%ctr = 0%>
<% @players.sort_by { |player| player.name }.each do |player| %>
<% if ctr==0 %>
<tr>
<% end %>
<td>
<img style="width: 96px; height: 96px;" src="<%= player.avatar %>" id="select-<%=player.name%>" alt="<%= player.name %> avatar" class="clickableSelect" name=<%=player.id%> />
  <br />
  <%= player.name %>
</td>
<% ctr+=1 %>
<%if ctr == 4 %>
</tr>
<%ctr = 0%>
<%end%>
<% end %>
</table> 
</div>

<br />
<span>
<button id="goLeaderButton" type="button" class="Select-Buttons">Back To LeaderBoard</button>
<button id="goGameButton" type="button" class="Select-Buttons">FIGHT!!</button>
</span>
</div>
