<p id="notice"><%= notice %></p>

<p>
  <img src="<%= @player.avatar %>" alt="<%= @player.name %> avatar" />
</p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Skill:</b>
  <%= case @player.skill
     when 1 
       "Beginner"
     when 2 
       "Intermediate"
     when 3 
       "Expert"
     else "godlike"
     end %>
</p>

<p>
  <b>Email:</b>
  <%= @player.email %>
</p>

<p>
  <b>Cumulative wins:</b>
  <%= @player.cumulative_wins %>
</p>

<p>
  <b>Total games:</b>
  <%= @player.total_games %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
